{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/meadow-marrow.myshopify.com/products/configure/197316/edit
{% endcomment %}
{% if product.metafields.custom_fields["hero_ingredients_sub_desc_5"] != blank %}
  <div class="custom-field custom-field__hero-ingredients-sub-desc-5 custom-field__type--text">
    <h3 class="custom-field--title">Hero Ingredients Sub Desc 5</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["hero_ingredients_sub_desc_5"] }}
    </div>
  </div>
{% endif %}