{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/meadow-marrow.myshopify.com/products/configure/197315/edit
{% endcomment %}
{% if product.metafields.custom_fields["hero_ingredients_sub_title_6"] != blank %}
  <div class="custom-field custom-field__hero-ingredients-sub-title-6 custom-field__type--text">
    <h3 class="custom-field--title">Hero Ingredients Sub Title 6</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["hero_ingredients_sub_title_6"] }}
    </div>
  </div>
{% endif %}