<div class="gevity-new-style product">
    {% section 'product-template-am-cleanse' %}
    {% comment %} {% section 'nase-product-page-section' %} {% endcomment %}
    {% comment %} {% section 'product-recommendations' %}
    {% section 'recently-viewed-products' %} {% endcomment %}


    {% section 'am-cleanse-section1' %}

    {% section 'am-cleanse-section2' %}

    {% section 'am-cleanse-section3' %}

    {% section 'am-cleanse-section4' %}

    {% section 'am-cleanse-section5' %}

    {% section 'am-cleanse-section6' %}

    {% section 'recently-viewed-products' %} </div>