
<section  class="sec-12  gevity_new_style_facilities">
	<div class="row"  style="padding: 30px 0 40px;">
      <div class="container" style="max-width: 700px;">
		<div class="col-sm-12 col-md-4 col-lg-4 text-center">
			<img src="{{ 'facility-1.png' | asset_url }}" alt="BODY GLUE"/>
			<p>Australian owned <br/>& operated</p>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-4 text-center">
			<img src="{{ 'facility-2.png' | asset_url }}" alt="BODY GLUE"/>
			<p>Free shipping <br/>Australia wide*</p>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-4 text-center">
			<img src="{{ 'facility-3.png' | asset_url }}" alt="BODY GLUE"/>
			<p>Shop now <br/>pay later</p>
		</div>		
      </div>		
	</div>
</section>