<style>

span.number-circle {
    padding: 15px;
    background: #000;
    border-radius: 100px;
    width: 60px;
    display: inline-block;
    height: 60px;
    color: #fff;
    font-size: 2em;
}

.threeboxesbodygluetwo.sipcook > div {
    border-right: none!important;
    padding: 1% 3%;
    height: 200px!important;

}

.sipcook p {
    font-size: 1.3em;
}
</style>

<section class="sec-04 gevity_new_style_difference" style="padding: 10px 0 10px 0; margin: 20px 0 10px 0; ">
    <!-- <div class="row" style="padding: 20px 0;">
          <div class="container">
              <div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 text-center">
                  <h2>{{ section.settings.main-header }}</h2>
                  <p>{{ section.settings.main-description }}</p>
              </div>
          </div>
      </div> -->
    <div class="row">
      <div class="container threeboxesbodygluetwo sipcook">
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
            <h3 ><span class="number-circle">1</span></h3>
          <p>Just add water for an instant gut healing beverage that tastes delicious!</p>
  
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center middle">
            <h3 ><span class="number-circle">2</span></h3>
          <p>Adding a teaspoon or two to meals - sweet & savoury - it is SO versatile and enhances flavour!</p>
  
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
            <h3 ><span class="number-circle">3</span></h3>
          <p>Replacing processed stocks - every jar of Body Glue™ makes 39 cups or close to 10 litres of nutrient dense, preservative and additive free stock</p>
  
        </div>
  
      </div>
    </div>
  
 
    
  </section>
  
  
  {% schema %}
  {
  "name": "Culinary Three Cols",
  "settings": [{
  "type": "text",
  "id": "main-header",
  "label": "Box Header"
  },{
  "type": "text",
  "id": "main-description",
  "label": "description"
  }, {
  "type": "text",
  "id": "button-text",
  "label": "Button Text"
  },{
  "type": "image_picker",
  "id": "item1-image",
  "label": "Image Two"
  },{
  "type": "image_picker",
  "id": "item2-image",
  "label": "Image Two"
  },{
  "type": "image_picker",
  "id": "item3-image",
  "label": "Image Three"
  },{
  "type": "image_picker",
  "id": "item4-image",
  "label": "Image Four"
  },{
  "type": "image_picker",
  "id": "item5-image",
  "label": "Image Five"
  } ,{
  "type": "image_picker",
  "id": "item6-image",
  "label": "Image Six"
  } ,{
  "type": "image_picker",
  "id": "item7-image",
  "label": "Image Seven"
  } ,{
  "type": "image_picker",
  "id": "item8-image",
  "label": "Image Eight"
  }
  ,{
  "type": "url",
  "id": "section-url",
  "label": "Section Url"
  }
  ]
  }
  {% endschema %}