<section id="health_prac_slogan" style="background-color: #f57f35;">
	<div class="nase_container nase_header">
		<h2>{{ section.settings.box1p}} </h2>

	</div>
</section>




{% schema %}
{
	"name": "Health Prac Seven",
  	"settings": [
    {
      "type": "text",
      "id": "box1p",
      "label": "Heading",
      "default": "Header"
    }]

    		}




	

{% endschema %}