{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/meadow-marrow.myshopify.com/products/configure/128604/edit
{% endcomment %}
{% if product.metafields.custom_fields["product_subtitle"] != blank %}
  <div class="custom-field custom-field__product-subtitle custom-field__type--text">
    <h3 class="custom-field--title">Product Subtitle</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["product_subtitle"] }}
    </div>
  </div>
{% endif %}