{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/meadow-marrow.myshopify.com/products/configure/25984/edit
{% endcomment %}
{% if product.metafields.custom_fields["top_product_content"] != blank %}
  <div class="custom-field custom-field__top-product-content custom-field__type--html">
    <h3 class="custom-field--title">Top Product Content</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["top_product_content"] }}
    </div>
  </div>
{% endif %}