{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.nutritional_table' %}
  {% include 'custom_fields.products.top_product_content' %}
  {% include 'custom_fields.products.benefits_image' %}
  {% include 'custom_fields.products.benefits_list' %}
  {% include 'custom_fields.products.faqs' %}
  {% include 'custom_fields.products.why_title' %}
  {% include 'custom_fields.products.why_description' %}
  {% include 'custom_fields.products.why_image' %}
  {% include 'custom_fields.products.big_callout' %}
  {% include 'custom_fields.products.benefit_1_text' %}
  {% include 'custom_fields.products.benefit_2_text' %}
  {% include 'custom_fields.products.benefit_3_text' %}
  {% include 'custom_fields.products.benefit_4_text' %}
  {% include 'custom_fields.products.benefit_5_text' %}
  {% include 'custom_fields.products.benefit_6_text' %}
  {% include 'custom_fields.products.benefit_1_image' %}
  {% include 'custom_fields.products.benefit_2_image' %}
  {% include 'custom_fields.products.benefit_3_image' %}
  {% include 'custom_fields.products.benefit_4_image' %}
  {% include 'custom_fields.products.benefit_5_image' %}
  {% include 'custom_fields.products.benefit_6_image' %}
  {% include 'custom_fields.products.product_subtitle' %}
  {% include 'custom_fields.products.product_title_-_large_section' %}
  {% include 'custom_fields.products.how_to_use' %}
  {% include 'custom_fields.products.ingredients' %}
  {% include 'custom_fields.products.hex_colour' %}
  {% include 'custom_fields.products.background_colour' %}
  {% include 'custom_fields.products.faq' %}
  {% include 'custom_fields.products.last_banner_bg' %}
  {% include 'custom_fields.products.top_headline' %}
  {% include 'custom_fields.products.top_description' %}
  {% include 'custom_fields.products.section_1_image_1' %}
  {% include 'custom_fields.products.section_1_title_1' %}
  {% include 'custom_fields.products.section_1_image_2' %}
  {% include 'custom_fields.products.section_1_title_2' %}
  {% include 'custom_fields.products.section_1_image_3' %}
  {% include 'custom_fields.products.section_1_title_3' %}
  {% include 'custom_fields.products.hero_ingredients_title' %}
  {% include 'custom_fields.products.hero_ingredients_image_1' %}
  {% include 'custom_fields.products.hero_ingredients_sub_title_1' %}
  {% include 'custom_fields.products.hero_ingredients_sub_desc_1' %}
  {% include 'custom_fields.products.hero_ingredients_image_2' %}
  {% include 'custom_fields.products.hero_ingredients_sub_title_2' %}
  {% include 'custom_fields.products.hero_ingredients_sub_desc_2' %}
  {% include 'custom_fields.products.hero_ingredients_image_3' %}
  {% include 'custom_fields.products.hero_ingredients_sub_title_3' %}
  {% include 'custom_fields.products.hero_ingredients_sub_desc_3' %}
  {% include 'custom_fields.products.hero_ingredients_image_4' %}
  {% include 'custom_fields.products.hero_ingredients_sub_title_4' %}
  {% include 'custom_fields.products.hero_ingredients_sub_desc_4' %}
  {% include 'custom_fields.products.hero_ingredients_image_5' %}
  {% include 'custom_fields.products.hero_ingredients_sub_title_5' %}
  {% include 'custom_fields.products.hero_ingredients_sub_desc_5' %}
  {% include 'custom_fields.products.hero_ingredients_image_6' %}
  {% include 'custom_fields.products.hero_ingredients_sub_title_6' %}
  {% include 'custom_fields.products.hero_ingredients_sub_desc_6' %}
  {% include 'custom_fields.products.testimonials_group' %}
  {% include 'custom_fields.products.accent_colour' %}
  {% include 'custom_fields.products.stars_colour' %}
  {% include 'custom_fields.products.testimonial_bg' %}
</div>