<div style="display: none;" id="countryPopupActiv">

<div id="whitebox" style="margin: 10% auto">
<div class="closeCPicker">Close</div>
<h3>Are you in the right place?</h3>
<p>Please select a store</p>
<a id="cButton" class="int"><img style="width: 20px" src="https://cdn.shopify.com/s/files/1/0271/5189/2566/files/australia.svg?v=1612931366"/> Australia & International</a>
<a id="cButton" class="aus" href="https://gevityrx.com"><img style="width: 20px" src="https://cdn.shopify.com/s/files/1/0271/5189/2566/files/united-states.svg?v=1612931353"/> U.S & Canada</a>

</div>


</div>