<style>
    @media only screen and (max-width: 500px) {
  
      #onlymobile{display: block;}
      #onlydesktop{display: none;}
  }
      @media only screen and (min-width: 500px) {
  
      #onlymobile{display: none;}
      #onlydesktop{display: block;}
  }
  </style>
   {% for block in section.blocks %}
  <section class="full_width about_section_two wholesaler">
  
   
      <div class="full_width onlydesktop" > 
       
  <p class="nase_about_footer">{{ block.settings.text }}</p>
        

      </div>
  
  
  </section>
  {% endfor %}
  
  {% schema %}
  {
      "name": "Wholesaler Section Two",
      "blocks": [
              {
                  "type": "image",
                  "name": "Wholesaler Section Two",
                  "settings": [
                   {
                      "type": "text",
                      "id": "text",
                      "label": "Main Text"
                    }
  
  
  
               
                  ]
              }
      ]
  }
  {% endschema %}