<style>
      #jobform {
    background: #eee;
    padding: 2% 1% 1% 1%;
    margin-top: 4%;
}
</style>

<div id="about-container">
    <section>
        {% section 'job-details-title' %}


        <div class="circular">
            {{ page.content }}
        </div>

        <div id="jobform">
            <iframe frameborder="0" src="https://forms.zohopublic.com/gevityrx/form/JobApplication/formperma/BmEo8z8zsBQdt0X94zGXq-huxk8bGtIO9Ho6WQwNVrc" style="height:500px;width:99%;border:none;"></iframe>
            <!-- <p>{formbuilder:Njg0MzM=}</p> -->
        </div>
    </section>
</div>